server:
  port: 8082
  
---
server:
  context-path: /
---

spring:
  profiles: local, cloud
  jpa:
    hibernate:
      ddl-auto: update
---
server:
  port: 8082
---
spring:
  profiles: local, cloud
  datasource:
    url: ${cloud.services.mysql4.connection.jdbcurl:jdbc:mysql://localhost:3306/aviation?useSSL=false&user=root&password=root}
---
eureka:
  instance:
    non-secure-port: 80
    hostname: ${vcap.application.uris[0]:localhost:8761}
  
  client:
    service-url:
      defaultZone: ${vcap.services.eureka.credentials.url:http://localhost:8761/eureka/}